# Sessió de proves creuades
| Grup         |   Components       |      Usuari GitHub     |
|--------------|--------------------|------------------------|
|    Equip     |  Cognoms, Nom      |      Usuari            |
|              |  Cognoms, Nom      |      Usuari            |


## Sessió de proves creuades

### La vostra pràctica
En aquest apartat cal explicar l'estat inicial de la vostra pràctica:

- __Servidor__
- [] El meu __Servidor__ arranca i permet que es connectin __Clients__, assignant-los a una partida.
- [] El meu __Servidor__ té implementada la fase de configuració en que els __Clients__ afegeixen els vaixells al tauler.
- [] El meu __Servidor__ implementa la dinàmica de joc, en la qual els __Clients__ van disparant en posicions per enfonsar els vaixells.
- [] El meu __Servidor__ implementa el joc **multi-jugador**.
- __Client__
- [] El meu __Client__ es connecta correctament al servidor, afegint-se a una partida.
- [] El meu __Client__ té implementada la fase de configuració en que l'usuari pot anar afegint els vaixells al tauler.
- [] El meu __Client__ implementa la dinàmica de joc, en la qual l'usuari va indicant les posicions on disparar per enfonsar els vaixells de l'oponent.
 
També haureu de reportar els errors que us hagin reportat, indicant l'error, si l'heu pogut solucionar i quin grup us l'ha reportat.

A banda de les proves realitzades durant la sessió de proves creuades, en aquest apartat caldrà incloure les proves que heu realitzat en el vostre pròpi codi, tant d'usuari com amb proves unitàries JUnit.


### Proves realitzades

Per cada grup que hagueu provat, caldra informar del nom del Grup que s'ha avaluat i la informació bàsica equivalent a la anterior:

- __Servidor__
- [] El seu __Servidor__ arranca i permet que es connectin __Clients__, assignant-los a una partida.
- [] El seu __Servidor__ té implementada la fase de configuració en que els __Clients__ afegeixen els vaixells al tauler.
- [] El seu __Servidor__ implementa la dinàmica de joc, en la qual els __Clients__ van disparant en posicions per enfonsar els vaixells.
- [] El seu __Servidor__ implementa el joc **multi-jugador**.
- __Client__
- [] El seu __Client__ es connecta correctament al servidor, afegint-se a una partida.
- [] El seu __Client__ té implementada la fase de configuració en que l'usuari pot anar afegint els vaixells al tauler.
- [] El seu __Client__ implementa la dinàmica de joc, en la qual l'usuari va indicant les posicions on disparar per enfonsar els vaixells de l'oponent.
 

 A més a més, caldrà explicar les proves fetes, els resultats obtinguts i si s'ha detectat errors o no.