# Sessió de proves creuades
| Grup         |   Components       |      Usuari GitHub     |
|--------------|--------------------|------------------------|
|    Equip     |  Cognoms, Nom      |      Usuari            |
|              |  Cognoms, Nom      |      Usuari            |


## Sessió de proves creuades

### La vostra pràctica
En aquest apartat cal explicar l'estat inicial de la vostra pràctica:

- __Servidor__
- [] El meu __Servidor__ arranca i permet que es connectin __Clients__, assignant-los un identificador.
- [] El meu __Servidor__ té implementada la fase de configuració en que els __Clients__ actualitzen la llista de fitxers.
- [] El meu __Servidor__ implementa la dinàmica de cerca de fitxers, en la qual els __Clients__ poden fer cerques i obtenen els fitxers que hi encaixen.
- [] El meu __Servidor__ implementa la descàrrega de fitxers **amb un client**.
- [] El meu __Servidor__ implementa la descàrrega de fitxers **multi-client**.
- __Client__
- [] El meu __Client__ es connecta correctament al servidor i s'hi registra.
- [] El meu __Client__ té implementada la fase de configuració en que actualitza la llista dels fitxers disponibles.
- [] El meu __Client__ implementa la dinàmica de cerca de fitxers, en la qual l'usuari indica un patró de cerca i obté una llista de fitxers disponibles que hi encaixen.
- [] El meu __Client__ implementa la dinàmica de transferència de fitxers, enviant els fitxers que se li demanen i rebent els que ha sol·licitat.
 
També haureu de reportar els errors que us hagin reportat, indicant l'error, si l'heu pogut solucionar i quin grup us l'ha reportat.

A banda de les proves realitzades durant la sessió de proves creuades, en aquest apartat caldrà incloure les proves que heu realitzat en el vostre pròpi codi, tant d'usuari com amb proves unitàries JUnit.


### Proves realitzades

Per cada grup que hagueu provat, caldra informar del nom del Grup que s'ha avaluat i la informació bàsica equivalent a la anterior:

- __Servidor__
- [] El seu __Servidor__ arranca i permet que es connectin __Clients__, assignant-los un identificador.
- [] El seu __Servidor__ té implementada la fase de configuració en que els __Clients__ actualitzen la llista de fitxers.
- [] El seu __Servidor__ implementa la dinàmica de cerca de fitxers, en la qual els __Clients__ poden fer cerques i obtenen els fitxers que hi encaixen.
- [] El seu __Servidor__ implementa la descàrrega de fitxers **amb un client**.
- [] El seu __Servidor__ implementa la descàrrega de fitxers **multi-client**.
- __Client__
- [] El seu __Client__ es connecta correctament al servidor i s'hi registra.
- [] El seu __Client__ té implementada la fase de configuració en que actualitza la llista dels fitxers disponibles.
- [] El seu __Client__ implementa la dinàmica de cerca de fitxers, en la qual l'usuari indica un patró de cerca i obté una llista de fitxers disponibles que hi encaixen.
- [] El seu __Client__ implementa la dinàmica de transferència de fitxers, enviant els fitxers que se li demanen i rebent els que ha sol·licitat.
 
 A més a més, caldrà explicar les proves fetes, els resultats obtinguts i si s'ha detectat errors o no.
